<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InetBankingV11" parallel="methods" thread-count="2">

<listeners>
<listener class-name="com.Hybrid_FrameWork.Utilities.Reporting"></listener> 
</listeners>
	<test name="Naukri login">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.Hybrid_FrameWork.TestCases.Test1" />
		</classes>
	</test>
</suite>
                                                                            